<header class="header">
    <div class="logo">Movix</div>
    <nav class="menu">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/movies">Movies</a></li>
            <li> <a href="/movies/add">Add New Movie</a></li>
            <li> <a href="/movies/contact">Contact</a></li>
        </ul>
    </nav>
</header>